process {
    executor = 'local' // Executor; overridden by profiles
    cpus = 4          // CPUs per process
    memory = '8 GB'   // Memory per process
    time = '2h'       // Maximum runtime per process
    container = null  // Do not use any container by default
}

profiles {
    docker {
        cpus = 4                                    // CPUs per process
        memory = '8 GB'                             // Memory per process
        time = '2h'                                 // Maximum runtime per process
        docker.enabled = true                       // Enable docker for this profile
        containerOptions = '--platform linux/amd64' // Plataform for the docker images

        // Specific configurations for each process
        process {
            withName:DownloadReference {
                // Docker prebuilt image of bwa by biocontainers to use wget
                container = 'biocontainers/bwa:v0.7.17_cv1'
            }
            withName:IndexReference {
                // Docker prebuilt image of bwa by biocontainers
                container = 'biocontainers/bwa:v0.7.17_cv1'
            }
            withName:DownloadFastq {
                // Docker prebuilt image of sra-tool by ncbi
                container = 'ncbi/sra-tools:3.1.0'
            }
            withName:RunFastQC {
                // Docker prebuilt image of fastqc by quay.io/biocontainers
                container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0' // Works but takes too long :( Maybve ? 
            }
            withName:AlignReads {
                // Docker prebuilt image of bwa by biocontainers 
                container = 'biocontainers/bwa:v0.7.17_cv1'
            } 
            withName:RemovePCRDuplicates {
                // Docker prebuilt image of samtools by biocontainers
                container = 'biocontainers/samtools:v1.9-4-deb_cv1'
            }
            withName:IndexBAM {
                // Docker prebuilt image of samtools by biocontainers
                container = 'biocontainers/samtools:v1.9-4-deb_cv1'
            } 
            withName:CallVariants{
                // Docker prebuilt image of bcftools by biocontainers
                container = 'biocontainers/bcftools:v1.9-1-deb_cv1'
            }
            withName:IndexVCF {
                // Docker prebuilt image of bcftools by biocontainers
                container = 'biocontainers/bcftools:v1.9-1-deb_cv1'
            }
        }
    }
}

params {

    regionFileExample = "data/sra_list_fastq_example.tsv"
    regionFile = "data/sra_list_fastq.tsv"
    outDir = "data"
}
